@include media-breakpoint-up(xs) {
	.image-wrapper {
		position: relative;
		height: 20rem;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 50%;
			width: auto;
			height: 13rem;
		}
		:nth-child(1) {
			z-index: -1;
			transform: translate(-80%, 40%);
		}
		:nth-child(2) {
			z-index: 0;
			transform: translate(0%, 30%);
		}
		:nth-child(3) {
			z-index: 1;
			transform: translateX(-50%);
		}
	}
}

@include media-breakpoint-up(sm) {
	.image-wrapper {
		position: relative;
		height: 20rem;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: auto;
		}
		:nth-child(1) {
			height: 50%;
			z-index: -1;
			transform: translate(-180%, -50%);
		}
		:nth-child(2) {
			height: 70%;
			z-index: 0;
			transform: translate(30%, -50%);
		}
		:nth-child(3) {
			height: 100%;
			z-index: 1;
			transform: translate(-50%, -50%);
		}
	}
}
